demo/agent1/chat-pdf-flow.json
{
  "name": "chat-pdf-flow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the extracted PDF text:\n\n{{$node[\"Extract from File\"].json[\"text\"]}}\n\nTasks:\nShow the text extracted \nThen: \n1) Count total number of words\n2) Count number of lines\n3) Compute average words per line\nReturn results in a short bullet list.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "65a71bda-d44e-45da-bd93-0640bd033e1e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "33caff0f-3349-4ecd-8dfa-6401ec8607c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xxJWatWHNDzgQe8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "65487056-b798-48be-a5f4-475b04fe502a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "e8783401-8c42-48b5-ae64-d20744c420c9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        0
      ],
      "id": "03fde40b-fff0-4abe-8e45-a2c73818840f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        0
      ],
      "id": "6d84df38-2f1c-4fde-bc11-b8e0e4857a24",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there SMU! 👋\nHow can Dallas-AI assist you today?",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        0
      ],
      "id": "ababb51d-8ab1-40e0-bbf0-5688bff7e8a1",
      "name": "When chat message received",
      "webhookId": "b624d50b-5021-4248-b260-78cf10510d8a"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e360c06-4e5a-485f-aad5-60bb0bf0b99d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02e19ec27a474a2e079cbb6237916d08e8c8ae16f411b999278fb7eeb2e00929"
  },
  "id": "6WqoW80Bu7ZrTBwF",
  "tags": []
}